server/node_modules
server/package-lock.json

# terraform
_terraform/.terraform/**
_terraform/.terraform.lock.hcl
_terraform/terraform.tfstate
_terraform/terraform.tfstate.backup


# terraform variables
_terraform/terraform.tfvars 

.DS_Store
.vscode